/* h2, h3, h4, h5, h6 {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: 700;
    line-height: 1.1
} */

h1 {
    font-family: Raleway, sans-serif;
    font-weight: 900;
    font-size: 44px;
    font-size: 4.4rem;
    color : #2E60B7;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 55px;
    display:inline-block;
    vertical-align: top;
}

/* .top {
    font-family: Raleway, sans-serif;
    font-weight: 900;
    font-size: 44px;
    font-size: 4.4rem;
    color : #C12026;
    text-transform: uppercase;
}

.break {
    font-family: Raleway, sans-serif;
    font-weight: 900;
    font-size: 44px;
    font-size: 4.4rem;
    text-shadow: -1px 0 #000000,0 1px #000000,1px 0 #000000,0 -1px #000000;
    color : white;
    text-transform: uppercase;
}

.games .c-heading-data-sub {
    font-size: 30px;
    font-size: 3rem;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 6px
}

.games .c-heading-page-cover {
    font-size: 47px;
    font-size: 4.7rem;
    font-family: Raleway, sans-serif;
    font-weight: 900;
    color: #FFF;
    margin: 0 0 20px
}

.games .block-title {
    position: relative;
    bottom: .95em;
    z-index: 1;
    margin-bottom: -.95em;
    font-family: Raleway, sans-serif;
    font-weight: 900;
    font-size: 44px;
    font-size: 4.4rem;
    text-transform: uppercase
}

.games .games-events-details .events > li .header .events-heading {
    font-size: 24px;
    font-size: 2.4rem;
    text-transform: uppercase;
    font-family: Raleway, sans-serif;
    font-weight: 700
} */

 p {
    font-size: 11px;
    font-size: 1.1rem;
    font-family: Ubuntu, sans-serif

}

div.image {
    margin-top: 20px;
    display:inline-block;
}

div.main {
    text-align: justify;
    width: 1000px;
    margin: auto;
}


.button {
    background-color: #C12026;
    border: white;
    color: white;
    padding: 10px 50px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    margin: 20px 0px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: Raleway, sans-serif;
}

.button:hover {
    background-color:#59081B;
    color: white;
}

.button {width: 250px;}

button:focus{background-color:#59081B;}

.tooltip {
  position: absolute;
  text-align: left;
  padding: 5px;
  font: 12px Raleway, sans-serif;
  background: white;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}
